.service-text-wrapper{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  p{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
  }
}

.service-title{
  text-align: center;
  padding: 25px 0;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}