.tooth-block {
  width: 20px;
  height: 20px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.tooth-block-1 {
  left: 2px;
  top: 219px;
}

.tooth-block-2 {
  left: 2px;
  top: 183px;
}

.tooth-block-3 {
  left: 10px;
  top: 150px;
}

.tooth-block-4 {
  left: 24px;
  top: 115px;
}

.tooth-block-5 {
  left: 40px;
  top: 83px;
}

.tooth-block-6 {
  left: 61px;
  top: 55px;
}

.tooth-block-7 {
  left: 102px;
  top: 24px;
}

.tooth-block-8 {
  left: 142px;
  top: 11px;
}

.tooth-block-9 {
  left: 189px;
  top: 11px;
}

.tooth-block-10 {
  left: 232px;
  top: 24px;
}

.tooth-block-11 {
  left: 272px;
  top: 55px;
}

.tooth-block-12 {
  left: 288px;
  top: 83px;
}

.tooth-block-13 {
  left: 310px;
  top: 115px;
}

.tooth-block-14 {
  left: 325px;
  top: 150px;
}

.tooth-block-15 {
  left: 330px;
  top: 183px;
}

.tooth-block-16 {
  left: 326px;
  top: 219px;
}

.tooth-block-17 {
  left: 324px;
  top: 269px;
}

.tooth-block-18 {
  left: 326px;
  top: 305px;
}

.tooth-block-19 {
  left: 320px;
  top: 345px;
}

.tooth-block-20 {
  left: 300px;
  top: 385px;
}

.tooth-block-21 {
  left: 270px;
  top: 425px;
}

.tooth-block-22 {
  left: 240px;
  top: 452px;
}

.tooth-block-23 {
  left: 210px;
  top: 464px;
}

.tooth-block-24 {
  left: 183px;
  top: 469px;
}

.tooth-block-25 {
  left: 155px;
  top: 469px;
}

.tooth-block-26 {
  left: 120px;
  top: 462px;
}

.tooth-block-27 {
  left: 90px;
  top: 452px;
}

.tooth-block-28 {
  left: 65px;
  top: 425px;
}

.tooth-block-29 {
  left: 34px;
  top: 385px;
}

.tooth-block-30 {
  left: 16px;
  top: 345px;
}

.tooth-block-31 {
  left: 7px;
  top: 305px;
}

.tooth-block-32 {
  left: 9px;
  top: 269px;
}
